<h1>My Booking history</h1>

<table class="details">
  <thead>
  <tr>
    <th>Room</th>
    <th>Username</th>
    <th>Bookday</th>
    <th>Date</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @my_booking.each do |booking| %>
      <tr>
        <td><%= booking.room_id %></td>
        <td><%= booking.name %></td>
        <td><%= booking.bookday %></td>
        <td><%= booking.date.strftime('%Y-%m-%d') %></td>
        <td><%= booking.starttime.strftime('%H:%M:%S') %></td>
        <td><%= booking.endtime.strftime('%H:%M:%S') %></td>
        <% if Date.parse(booking.date.strftime('%Y-%m-%d'))>=Date.parse(Time.new.strftime('%Y-%m-%d'))%>
            <td><%= link_to 'cancel', release_room_path(booking), method: :POST, data: { confirm: "Are you sure to cancel it?" }%></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back to Manage Rooms', user_manage_room_url %>