<!DOCTYPE html>
<html>
  <body>
  <h2>
    Welcome <%= @user.name %>
  </h2>

  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Update profile", edit_user_url , method: "get" %></li>
    <% if @user.Admin%>
      <li class="list-group-item"><%= link_to "Add admin", add_admin_url, method: "get" %></li>
      <li class="list-group-item"><%= link_to "View admins", show_admins_url , method: "get" %></li>
      <li class="list-group-item"><%= link_to "Delete admin", show_admins_url , method: "get" %></li>
      <li class="list-group-item"><%= link_to "Manage rooms", admin_manage_room_url , method: "get" %></li>
      <li class="list-group-item"><%= link_to "Manage users", admin_manage_user_url , method: "get" %></li>
    <% else%>
        <li class="list-group-item"><%= link_to "Manage rooms", user_manage_room_url , method: "get" %></li>
  <%end%>
  </ul>
  </body>
</html>
