<p id="notice"><%= notice %></p>

<h1> the booking history </h1>

<table>
  <thead>
  <tr>
    <th>Room</th>
    <th>Username</th>
    <th>Bookday</th>
    <th>Date</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @showing_booking.each do |booking| %>
      <tr>
        <td><%= booking.room_id %></td>
        <td><%= booking.name %></td>
        <td><%= booking.bookday %></td>
        <td><%= booking.date.strftime('%Y-%m-%d') %></td>
        <td><%= booking.starttime.strftime('%H:%M:%S') %></td>
        <td><%= booking.endtime.strftime('%H:%M:%S') %></td>
      </tr>
  <% end %>
  </tbody>
</table>